.text-left{
    text-align: left !important;
}

.img-testi{
    object-fit: cover;
    width:128px;
    height:128px;
}

.img-list{
    object-fit: cover;
    width: 350px;
    height: 100px;
}

.img-edit{
    object-fit: cover;
    width: 100%;
    height:180px;
}

.text-size-small{
    font-size: 12px;
}

.img-favicon{
    width: 32px;
    height: 32px;
    object-fit: cover;
}